.mypage
  .user_sidebar
    .crearfix
      .user_image
        = image_tag @user.avatar.thumb.url
      .user_name
        = @user.username
    .follow_button
      = link_to "follow", root_path, class: "text-decoration black_text"
    #search_list
    .friends_area
  .calendar
    #calendar
