.mypage
  .user_sidebar
    .crearfix
      .user_image
        = image_tag @user.avatar.thumb.url
      .user_name
        = @user.username
    #follow_button
      = render partial: 'friendship/follow_button'
    #search_list
    .friends_area
  .calendar
    #calendar
