- if current_user.following(following_id: current_user.id).present?
  .follow_button
    = link_to "follow", user_friendships_path(@user), method: :post, class: "text-decoration white-text", remote: :true
- else
  .unfollow_button
    = link_to "follow", user_friendship_path(@friendship), method: :delete, class: "text-decoration black-text", remote: :true
