.friend_header:after {
  content: "";
  display: block;
  clear: both;
}

.friend_header {
  padding-top: 15px;
}

.friend_header .current_user {
  float: left;
  padding-left: 50px;
}

.friend_header .friend_user {
  float: right;
  padding-right: 50px;
}

.friend_header p {
  float: left;
  margin-top: 23px;
  margin-left: 10px;
}

.shere_memory {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.shere_memory:after {
  content: "";
  display: block;
  clear: both;
}

.memory {
  float: left;
  width: 300px
}

.memory img{
  width: 250px;
  height: 230px;
  margin: 0 auto;
}

.memory span {
}