.new-page {
  width: 80%;
  min-height: 500px;
  background-color: white;
  margin: 0 auto;
  padding-top: 5px;
}

.thumb_form {
  width: 50%;
  height: 500px;
  float: left;
  margin-top: 50px;
}

.cover-image-upload {
    height: 300px;
    width: 300px;
    background-image: url(/assets/noimage-big.png);
    background-position: center center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    background-repeat: no-repeat;
    border: solid 1px;
    background-color: gray;
  }

.thumb {
  height: 300px ;
  width: 300px ;
}


.cover-image-upload input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      cursor: pointer;
  }

.write_form {
  padding-top: 20px;
  width: 50%;
  float: left;
}

.post_search_query {
  width: 50%;
  height: 25px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.post-friend {
  width: 50%;
  height: 25px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.write_diary {
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.button-new {
  width: 10%;
  margin-left: 200px;
  margin-top: 20px;
  background-color: pink;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}

#tag-friends {
  height: 40px;
  width: 50%;
}

.mini_user_image img {
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    background-size: cover;
    /*position: absolute;*/
    position-top: 100px;
    float: left;
}
