.mypage {
  background-color: white;
  margin: 0 auto;
  min-height: 500px;
  width: 80%;
  position: relative;
}

.user_sidebar {
  margin-left: 20px;
  padding-top: 10px;
  float: left;
}

.mypage .user_image {
  float: left;
}

.user_name {
  padding-top: 27px;
  float: left;
  margin-left: 20px;
}

.crearfix:after {
  content: "";
  display: block;
  clear: both;
}

.button-mypage {
  background-color: pink;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-radius: 10px;
}

.user_sidebar .search_query {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
}

.friends_area {
  width: 100%;
  height: 250px;
  border: solid 1px;
  border-radius: 5px;
  float: left;
}

.fc-view-container {
  width: 500px;/*
  height: 100px;*/
  float: left;
}
/*
.fc-view {
  height: 100%;
}*/

.calendar {
  float: left;
  margin: 20px 10px 5px 40px;
}


.button_sign_out {
  margin: 0 auto;
  margin-left: 33px;
}

.search_box {
  width: 70%;
}

.following-text {
  font-size: 12px;
  padding-top: 8px;
  float: left;
}

.mini_user_image_mypage {
}

.mini_user_image_mypage img {
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    background-size: cover;
    /*position: absolute;*/
    position-top: 100px;
    float: left;
}

.following_user {
  clear: both;
}

.fc-day {
  width:  71px;
  height: 58px;
}

.fc-week {
  max-height: 58px;
}
