.login-page {
  padding-top: 50px;
  background-color: white;
  padding: 50px;
}

.login-page .user-image {
    border: 2px solid #ddd;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: #fff;
    background-size: cover;
    margin-left: 200px;
    margin-bottom: 100px;
}

.login-page .user-image input {
  display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 75px;
    opacity: 0;
}

.field {
  width: 100%;
}

.title {
  width: 30%;
  text-align: center;
}

.title-signin {
  color: pink;
  margin: 20px auto;
  float: left;
  margin-left: 370px;
}

.field {
  width: 100%;
}

.form-signin {
  width: 40%;
  height: 50px;
  margin: 0 30% 30px 30%;
}

.action {
  width: 100%;
}

.button-pink {
  width: 30%;
  background-color: pink;
  color: white;
  margin: 0 35% 0 35%;
  height: 30px;
  border: none;
}

.user_image-userpage {
  margin-left: 17%;
}

.form-image {
  opacity: 0;
}

.user-avatar {
  margin-top: 60px;
  margin-left: 10px;
}

.sign_in_button {
  margin-right: 50px;
  position: absolute;
  right: 120px;
}

#image_button {
  position-top: 100px;
}

#name .thumb {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  position: absolute;
  left: 0;
}
