.follow_button {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px 10px;
  background-color: pink;
  border: none;
}

.unfollow_button {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px 10px;
  border: solid 1px;
}