.follow_button {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px 10px;
  background-color: pink;
  border: none;
}

.unfollow_button {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  padding: 5px 10px;
  border: solid 1px;
}

#comment {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.6);
}

#comment_image {
  float: left;
}

#comment_cansel {
  float: right;
}

#comment_cansel a {
  text-decoration: none;
  color: black;
}

#comment_content {
  position: absolute;
  width: 50%;
  left: calc(65% - 25vw);
  top: calc(25% - 25vh);
  padding: 5px 10px;
  border: 1px solid #eee;
  background: white;
  border: solid 1px;
  z-index: 10;
}

.like_button {
  width: 30px;
  height: 30px;
  float: left;
}

.comment_form {
  float: left;
  margin-left: 10px;
}

.hide {
  display: none;
}

.modal_image {
  height: 300px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#comment_image .mini_user_image {
  border: 2px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    background-size: cover;
    /*position: absolute;*/
    position-top: 100px;
}

.friends .mini_user_image {
  border: 2px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    background-size: cover;
    object-fit: cover;
}

.friends .user_image {
  border: 2px solid #ddd;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    background-color: #fff;
    background-size: cover;
    object-fit: cover;
}
